.steps-container {
  /* width: 703px; */
  width: 870px;
  margin: 20px auto;
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.18);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
 /* margin-left:80px; */
}

.step {
  width: 75px;
  text-align: center;
  justify-content: center;
  margin-top:10px;
}

.step-container {
  width: 75px;
  height: 70px;
  border-radius: 100%;
  background: #FBE7ED;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-0.01deg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
}

.step-active {
  background: #DA0B4E;
  border: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-0.01deg);
}

.step-completed {
  background: #E65C88;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-0.01deg);
}

.number {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #000000;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-0.01deg);
  width: auto;
  margin: 0 auto;
}

.label {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  padding: 5px 0px;
  text-align: center;
}

.dash {
  position: absolute;
  left: 103%;
  top: 50%;
  width: 40px;
  border-bottom: 1px dashed #000000;
}

.dash-completed {
  border-bottom: 1px solid #9B0837;
}


/* media query */

@media only screen and  (min-width: 1201px) 
{
  .steps-container {
   
    width: 800px;
    margin-top: 20px ;
    margin-left: 100px ;
    padding: 10px 10px 1px 10px;
    
  }

  .step {
    width: 75px;
    
  }
  
  .step-container {
    width: 70px;
    height: 70px;
  }
  .number { 
    font-size: 21px;
    line-height: 25px;
  }
  
  .label {
    font-size: 15px;
    line-height: 16px;
    margin-left:-10px;
  }
  
  .dash {
    position: absolute;
    left: 103%;
    top: 50%;
    width: 40px;
    
  }
}
@media only screen and (max-width: 1200px) and (min-width: 1025px) 
{
  /* .label{
    display:none;
  } */
  .steps-container {
   
    width: 680px;
    margin-top: 20px ;
    padding: 10px 10px 1px 10px;
    
  }

  .step {
    width: 70px;
    
  }
  
  .step-container {
    width: 60px;
    height: 60px;
  }
  .number { 
    font-size: 21px;
    line-height: 25px;
  }
  
  .label {
    font-size: 14px;
    line-height: 16px;
    margin-left:-10px;
  }
  
  .dash {
    position: absolute;
    left: 103%;
    top: 50%;
    width: 40px;
    
  }
}

@media only screen and (max-width: 1024px) and (min-width: 991px) 
{
  .steps-container {
   
    width: 600px;
    margin-top: 20px ;
    padding: 10px 10px 18px 10px;
    
  }

  .step {
    width: 85px;
    
  }
  
  .step-container {
    width: 55px;
    height: 60px;
  }
  .number { 
    font-size: 21px;
    line-height: 25px;
  }
  
  .label {
    font-size: 17px;
    line-height: 16px;
    margin-left:-10px;
  }
  
  .dash {
    position: absolute;
    left: 103%;
    top: 50%;
    width: 40px;
    
  }

}


@media only screen and (max-width: 991px) and (min-width: 769px) 
{
  .label{
    display:none;
  }
  .steps-container {
   
    width: 600px;
    margin-top: 20px ;
    padding: 10px 10px 18px 10px;
    
  }

  .step {
    width: 85px;
    
  }
  
  .step-container {
    width: 55px;
    height: 60px;
  }
  .number { 
    font-size: 21px;
    line-height: 25px;
  }
  
  .label {
    font-size: 17px;
    line-height: 16px;
    margin-left:-10px;
  }
  
  .dash {
    position: absolute;
    left: 103%;
    top: 50%;
    width: 40px;
    
  }
}

@media only screen and (max-width: 768px) and (min-width: 622px) 
{
  .label{
    display:none;
  }
  .steps-container {
   
    width: 500px;
    margin-top: 20px ;
    padding: 10px 1px 20px 10px;
    
  }

  .step {
    width: 40px;
    
  }
  
  .step-container {
    width: 30px;
    height: 30px;
  }
  .number { 
    font-size: 15px;
    line-height: 15px;
  }
  
  .label {
    font-size: 12px;
    line-height: 17px;
    margin-left:-10px;
  }
  
  .dash {
    position: absolute;
    left: 100%;
    top: 50%;
    width: 50px;
    
  }
}
@media only screen and (max-width: 621px) and (min-width: 481px) 
{
  .label{
    display:none;
  }
  .steps-container {
   
    width: 500px;
    margin: 20px  0px 0px 40px;
    padding: 10px 1px 20px 10px;
    margin-left:05px;
  }

  .step {
    width: 40px;
    
  }
  
  .step-container {
    width: 30px;
    height: 30px;
  }
  .number { 
    font-size: 15px;
    line-height: 15px;
  }
  
  .label {
    font-size: 12px;
    line-height: 17px;
    margin-left:-10px;
  }
  
  .dash {
    position: absolute;
    left: 100%;
    top: 50%;
    width: 50px;
    
  }
}

@media only screen and (max-width: 480px) and (min-width: 379px) 
{

  .label{
    display:none;
  }
  .steps-container {
   
    width: 320px;
  margin-top: 40px ;
  padding: 10px 10px 20px 10px;
  
  }

  .step {
    width: 30px;
    
  }
  
  .step-container {
    width: 30px;
    height: 30px;
  }
  .number { 
    font-size: 15px;
    line-height: 15px;
  }
  
  .label {
    font-size: 12px;
    line-height: 17px;
    margin-left:-10px;
  }
  
  .dash {
    position: absolute;
    left: 100%;
    top: 50%;
    width: 10px;
    
  }
  
}


@media only screen and (max-width: 379px) and (min-width: 300px) 
{

  .label{
    display:none;
  }
  .steps-container {
   
    width: 320px;
  margin-top: 40px ;
  padding: 10px 10px 20px 10px;
  margin-left:-05px;
  }

  .step {
    width: 30px;
    
  }
  
  .step-container {
    width: 30px;
    height: 30px;
  }
  .number { 
    font-size: 15px;
    line-height: 15px;
  }
  
  .label {
    font-size: 12px;
    line-height: 17px;
    margin-left:-10px;
  }
  
  .dash {
    position: absolute;
    left: 100%;
    top: 50%;
    width: 10px;
    
  }
  
}